fieldset#edit-field-subscription-mailing-list--wrapper legend {
  display: none;
}

div.form-item-field-subscription-mailing-list-0 {
  display: none;
}

div#edit-field-subscription-ip-wrapper {
  display: none;
}

form.node-subscription-form div.js-form-type-vertical-tabs.form-type-vertical-tabs {
  display: none;
}

div#block-newsletter {
  width: 259px;
  border: solid 1px midnightblue;
  padding: 10px;
  background: GhostWhite;
  color: black;
  z-index: 99;
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 1em;
}

div#block-newsletter div#edit-actions {
  margin-bottom: 1em;
  text-align: center;
}

.node-form .form-wrapper {
  margin-bottom: 0em !important;
}

div#block-newsletter div#slogan_rf_newsletter {
  padding-top: 10px;
}

div#block-newsletter input#edit-title-0-value {
  border-color: #ccc !important;
}

div#block-newsletter button.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
  float: right;
}

div#block-newsletter input#edit-submit {
  width: 250px;
  height: 40px;
  color: white;
  background: red;
}

div#block-newsletter input#edit-submit::before {
  content: "Subscribe now";
}

#page .ui-widget-rf {
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  font-weight: normal;
  width: 2em;
  box-sizing: border-box;
  text-indent: -9999px;
  white-space: nowrap;
  padding: .4em 1em;
  position: relative;
  line-height: normal;
  margin-right: .1em;
  cursor: pointer;
  text-align: center;
  user-select: none;
  overflow: visible;
}

.ui-icon-rf {
  background-image: url(/marketplace/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_777777_256x240.png);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
  background-position: -96px -128px;
  width: 16px;
  height: 16px;
}

.ui-widget-header-rf {
  border: 1px solid #dddddd;
  background: #e9e9e9;
  color: #333333;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

#title_rf_newsletter {
  vertical-align: middle;
  margin-top: 10px;
  padding-top: 10px;
  font-size: larger;
}
