{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{{ attach_library('rf_newsletters/rf_newsletters_block_styles') }}
{% set classes = [
    'clear-both',
] %}
<div class="ui-widget-header-rf ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix">
  <span id="title_rf_newsletter" class="ui-dialog-title">{{ content.block_title }}</span>
  <button type="button" class="ui-widget-rf ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close">
    <span class="ui-icon-rf ui-button-icon ui-icon ui-icon-closethick"></span>
    <span class="ui-button-icon-space"></span>Close</button>
</div>
<div id="block_rf_newsletter">
  <div id="slogan_rf_newsletter" {{ attributes.addclass(classes) }}>
    {% if content.slogan %}
      <p class="slogan">{{content.slogan}}</p>
    {% endif %}
  </div>
  <div id="embedded_form_rf_newsletter">
    {{ form }}
    </div>
  </div>
